fastapi==0.135.2
uvicorn==0.42.0
streamlit==1.55.0
pandas==2.3.3
numpy==2.4.4
scikit-learn==1.8.0
sqlalchemy==2.0.48
python-dotenv==1.2.2
requests==2.33.1
folium==0.20.0
joblib==1.5.3
altair==6.0.0
pydantic==2.12.5
python-jose[cryptography]
passlib
python-multipart